.background {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(../img/16.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-label{
    color: white;

}

#text-login a,
.mb-3 a {
    color:white; 
}

.card {
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2000px; /* Adjust the width as needed */
    height: 525px; /* Adjust the height as needed */
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 233, 233, 0.1);
}

.form-control{
    width: 100%;
    height: 30px;
   
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: white;
    font-size: 16px;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
#result{
    color: red;
    font-weight: 600;
    position: relative;
    top: 15px;
}

.popup{
    width: 400px;
    background-color: aliceblue;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition:transform .4s,top .4s;
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    height: 330px;
    color: black;
}
.popup a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}

.open-slide{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}




